body {
    font-family: monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: black;
    font-size: 2.2em;
    font-weight: 600;
}

.login-button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: .01em;
}

.login-button:hover {
    opacity: 75%;
}

.tweet {
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 18px;
}

.tweet-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 40px;
}

.tweet-bar > a {
    color: rgb(90, 90, 90)
}

