body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1000px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 18px;
}

.logo {
    color: black;
    font-size: 2.2em;
    font-weight: 600;
}

.login-button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: .01em;
}

.login-button:hover {
    opacity: 75%;
}

.tweet {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightgray;
    padding: 12px;
}

.tweet:hover {
    background-color: rgb(240, 240, 240);
}

.tweet-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 40px;

}

.tweet-bar > a {
    color: rgb(90, 90, 90)
}

footer {
    text-align: center;
    margin-top: 12px;
}

.tweet-content {
    text-wrap: normal;
}

.add-tweet-button {
    background-color: dodgerblue;
    color: white;
    position:fixed;
    width:45px;
    height:45px;
    bottom:50px;
    right:50px;
    box-shadow: 3px 3px 3px rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweet-href {
    color: black;
}

